/*#############
## General ##
##############*/
* {
    font-family: 'Comfortaa', sans-serif;
    font-weight: bold;
}

.standard-page {
    padding-top: 12rem;
    min-height: 100vh;
}




/*#############
## Home-Page ##
##############*/
#home-page {
    display: grid;
    gap: 0.5rem;
}

#home-page a {
    text-decoration: none;
}

#home-page h2 {
    color: white;
    font-size: 40px;
    text-align: center;
}

#home-page .img-home-page {
    border: 1px solid black;
    height: 70vh;
    display: grid;
    place-items: center;


}

#home-page .img-home-page:hover {
    cursor: pointer;
    transition: 1s;
    transform: scale(.95);


}

#home-page .img-home-page {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


/*#############
## Login-Page ##
##############*/

#login-page {
    min-height: 100vh;
    display: grid;
    place-items: center;
}


#login-form {
    text-align: center;
    border: 2px solid black;
    border-radius: 10px;
    margin-top: 1rem;
    padding: 2rem;
    background: rgb(159 159 159 / 41%);
    width: 263px;
}

#login-form label {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-bottom: 1rem;
}

#login-form label input {
    padding: 0.5rem;
    border-radius: 20px;
}



/*#######################
## Product && Products ##
########################*/
.showw0 img,
.showw0 h3,
.showw0 div {
    opacity: 0.4;
}

#icon-show-product {
    height: 2rem;
    width: 2rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    margin-left: 14rem;
    margin-bottom: 27rem;

}

#icon-show-product:hover {
    cursor: pointer;
    background-color: rgba(70, 70, 70, 0.575);
    transition: 0.5s;
    border-radius: 25px;
}

.img-product {
    width: 274px;
    height: 258px;
    border-radius: 54px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.name-product {
    font-size: 32px;
    text-align: center;
    padding: 0.5rem;
}

.yellow-button {
    text-decoration: none;
    color: black;
    background-color: #FFE922;
    width: 169px;
    height: 29px;
    border-radius: 25px;
    display: grid;
    place-items: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;

}

.yellow-button:hover {
    transition: 1s;
    translate: 0.5rem -0.5rem;
    background-color: #b9aa1c;
}

#products-list {
    display: flex;

    justify-content: center;
    flex-wrap: wrap;
}

#products-list li {
    list-style: none;
    width: min-content;
    margin: 0 10rem 5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#products-list div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

#individual-product figure {
    display: grid;
    text-align: center;
    place-items: center;
    gap: 1rem;
    padding-bottom: 4rem;
    position: relative;


}

#product-content {
    width: min-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;

}

#product-content span {
    position: absolute;
    bottom: 2rem;
}


#product-info h3 {
    text-align: center;
    font-size: 32px;
}

#product-info figcaption {
    font-size: 29px;
    max-width: 760px;
    padding: 2rem;

}

#product-info #product-price {
    margin-top: 2rem;
    font-size: 25px;


}

#product-info #product-price span {
    font-size: 18px;
    display: block;
    margin-top: 0.5rem;
}


@media (min-width: 1000px) {

    /*#############
    ## Home Page ##
    #############*/
    #home-page {
        grid-template-columns: 1fr 1fr 1fr;
        width: 100%;
    }

    #home-page .img-home-page {
        border: 1px solid black;
        height: 100vh;
        width: 100%;
    }

    /*###########
    ## Product ##
    ###########*/
    #individual-product figure {
        gap: 2rem;
        grid-template-columns: 1fr 2fr;
        margin: 0 8rem;
        text-align: left;
    }

    #product-content span {
        position: unset;

    }

    #product-info h3 {
        text-align: left;
        font-size: 40px;
    }

    #product-info figcaption {
        font-size: 32px;

    }

    #product-info #product-price {
        font-size: 29px;


    }

    #product-info #product-price span {
        font-size: 20px;

    }

}